body {
  font-family: Helvetica;
  color: White;
  text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

a {
  color: White;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  color: Black;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: Black;
  font-size: 23px;
  font-weight: bold;
}

p {
  color: Black;
  font-size: 14px;
}

.midpart_img {
  color: White;
  font-size: 23px;
  font-weight: bold;
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  text-align: left;
  background-color: dimgray;
}

h4 {
  font-size: 11px;
}

.footer a {
  font-weight: normal;
}
